.caja{
    border: 1px solid rgb(83, 78, 78);
    background-color: aquamarine;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
}